body{
            background-image: linear-gradient(to top left, blue, red, black);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 700px;
        }